.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/79fe83d4-7ef6-4181-9439-46db72599559/bd05b4ed-7e37-4be9-85c8-078f067bd150/IN-en-20221017-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center center no-repeat;

  background-size: cover;
}
.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 130px;
  object-fit: contain;
  padding-left: 20px;
}
.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 5px 12px;
  color: white;
  border: none;
  outline: none;
  font-size: 0.9rem;
  background-color: #e50914;
  border-radius: 3px;
  cursor: pointer;
}
.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}
.loginScreen__body > h1 {
  font-size: 3.125rem;
  padding-bottom: 20px;
}
.loginScreen__body > h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.loginScreen__body > h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.loginScreen__body {
  max-width: 950px;
  position: absolute;
  top: 30%;
  z-index: 1;
  color: white;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
}
.loginScreen__input {
  margin: 20px;
}
.loginScreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}
.loginScreen__getStartedBtn {
  /* padding: 15.1px 20px;
  padding-bottom: 17.3px; */
  padding: 16px 20px;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: #e50914;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}
